.header {
  background: #070707 url(./assets/body-bg.png) repeat-x bottom;
  width: 100%;
  margin-bottom: 20px;
  height: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  color: #ccc;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
}
