.content-container {
  width: 93.878%;
  max-width: 920px;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 1.5px 0px 0.5px #c3c3c3;
}

.home-img {
  border: 1px solid #c3c3c3;
  padding: 2px;
  border-radius: 10px;
  width: 99.5%;
}

.content-wrapper {
  width: 100%;
  display: flex;
}

.content {
  width: 660px;
  min-height: 350px;
  padding: 20px 20px 20px 30px;
  color: #666;
}

h2 {
  color: #272e34;
  line-height: 1.2;
}

.paragraph {
  line-height: 1.5;
  padding: 0.5em 0;
}

@media (max-width: 768px) {
  .content-container {
    padding: 15px 10px 10px 10px !important;
    margin: 0;
    max-width: unset;
    width: auto;
    box-shadow: none;
  }

  .content-wrapper {
    display: initial;
  }

  .content {
    padding: 0;
    width: 100%;
  }

  .img-container {
    width: 100%;
    text-align: center;
  }
}
